<nav class='navbar'>
    <div class='container'>
        <span class='navbar-brand mb-0 h1'>
            Connect:
            <a href='https://github.com/m1robyndunstan?tab=repositories'><i class="fab fa-github-square fa-lg"></i></a>
            <a href='https://www.linkedin.com/in/robyn-dunstan-32b24b55/'><i class="fab fa-linkedin fa-lg"></i></a>
            <a href='https://www.facebook.com/robyn.dunstan/'><i class="fab fa-facebook-square fa-lg"></i></a>
            <a href='mailto:dunstanrm@gmail.com'><i class="fas fa-envelope-square fa-lg"></i></a>
        </span>
    </div>
</nav>
