<ng-container [ngSwitch]="currentGame.currentScreen">
    <app-maze-intro *ngSwitchCase="MazeScreen.Intro"
        [currentGame]="currentGame"></app-maze-intro>
    <app-path-interface *ngSwitchCase="MazeScreen.Interface"
        [currentGame]="currentGame"></app-path-interface>
    <app-exit-interface *ngSwitchCase="MazeScreen.Exit"
        [currentGame]="currentGame"></app-exit-interface>
    <app-maze-end *ngSwitchCase="MazeScreen.End"
        [currentGame]="currentGame"></app-maze-end>
    <app-taskbar></app-taskbar>
    <app-map-display [currentGame]="currentGame"></app-map-display>
</ng-container>
