<div class="container-fluid map-display">
    <div class="row">
        <div class="col block wall"></div>
        <div class="col block"></div>
        <div class="col block wall"></div>
    </div>
    <div class="row">
        <div class="col block"></div>
        <div class="col block"></div>
        <div class="col block"></div>
    </div>
    <div class="row">
        <div class="col block wall"></div>
        <div class="col block"></div>
        <div class="col block wall"></div>
    </div>
</div>