@import '../../../../styles.scss';
.parent {
    position: relative;
    width: $path-image-width;
    height: $path-image-height;
}
.ceiling {
    position: absolute;
    width: $path-image-width;
    height: $path-image-height / 2;
    left: 0;
    top: 0;
}
.floor {
    position: absolute;
    width: $path-image-width;
    height: $path-image-height / 2;
    left: 0;
    top: $path-image-height / 2;
}
.left {
    position: absolute;
    height: $path-image-height;
    top: 0;
    width: $path-image-width / 4;
    left: 0;
}
.center {
    position: absolute;
    height: $path-image-height;
    top: 0;
    width: $path-image-width / 2;
    left: $path-image-width / 4;
}
.right {
    position: absolute;
    height: $path-image-height;
    top: 0;
    width: $path-image-width / 4;
    left: $path-image-width * 3 / 4
}
