<div class="mx-auto cursor-default">
    <img class="ceiling" src="{{imgCeilingUrl}}" />
    <img class="floor" src="{{imgFloorUrl}}" />

    <img class="left" src="{{imgLeftBackgroundUrl}}" />
    <img class="center" src="{{imgCenterBackgroundUrl}}" />
    <img class="right" src="{{imgRightBackgroundUrl}}" />

    <img class="left" src="{{imgLeftOverlayUrl}}" *ngIf="imgLeftOverlayUrl" />
    <img class="center" src="{{imgCenterOverlayUrl}}" *ngIf="imgCenterOverlayUrl" />
    <img class="right" src="{{imgRightOverlayUrl}}" *ngIf="imgRightOverlayUrl" />

    <!-- The order of divs is intentional for cursors to display over the appropriate section
        |         |     Forward      |         |
        |   Left  | ---------------- | Right   |
        |         |     Back         |         |
    -->
    <div class="center" [ngClass]="getCenterCursor()" (click)="goForward()"></div>
    <div class="floor" [ngClass]="getBackCursor()" (click)="goBack()"></div>
    <div class="left" [ngClass]="getLeftCursor()" (click)="goLeft()"></div>
    <div class="right" [ngClass]="getRightCursor()" (click)="goRight()"></div>
</div>