<app-maze-image
    [imageLeftUrl]="mazeLeftImage"
    [imageCenterUrl]="mazeCenterImage"
    [imageRightUrl]="mazeRightImage"
    ></app-maze-image>

<div *ngIf="currentGame">
    <p>{{locationDescription}}</p>
</div>

<div class='container'>
    <div class='row'>
        <div class='col d-grid gap-2'>
            <button type='button' class='btn btn-primary' (click)="turnLeft()">Turn Left</button>
        </div>
        <div class='col-6 d-grid gap-2'>
            <button *ngIf="showForwardButton" type='button' class='btn btn-primary' (click)="moveForward()">Move Forward</button>
        </div>
        <div class='col d-grid gap-2'>
            <button type='button' class='btn btn-primary' (click)="turnRight()">Turn Right</button>
        </div>
    </div>
</div>
