<div class='container'>
    <img src='assets/img/intro/bookcase.png' class='mx-auto d-block' style='max-height: 200px;' />

    <p class='text-center my-2'>
        As you are looking through the library for something to read, an orange leather-bound book catches your eye. You open the book and flip through the first few pages to see what it is about. The book is filled with swirly designs that make you feel dizzy. You close your eyes for a moment, and when you open them, you find yourself in the midst of a hedge maze.
    </p>

    <img src='assets/img/intro/swirl-book.png' class='mx-auto d-block' style='max-height: 200px' />

    <div class='row mt-2'>
        <div class='col-2 mx-auto d-grid'>
            <button type='button' class='btn btn-primary btn-lg'>Continue</button>
        </div>
    </div>
</div>