<div class="container">
    <img src='assets/img/intro/bookcase.png' class='mx-auto d-block' style='max-height: 200px;' />

    <p class="text-center my-2">As the door starts to open, you feel dizzy and close your eyes. When you open them again, you find yourself back in the library where you started. The book has been replaced in your hands by a medal.</p>

    <img src="assets/img/reward/escape-badge.png" class="mx-auto d-block" />

    <div class='row mt-2'>
        <div class='col-2 mx-auto d-grid'>
            <button type='button' class='btn btn-primary btn-lg' (click)="newGame()">Play Again</button>
        </div>
    </div>
</div>
