<div class="container">
    <app-path-image
        [ceilingType]="imageCeilingType"
        [floorType]="imageFloorType"
        [wallType]="imageWallType"
        [leftImage]="imageDirectionLeft"
        [centerImage]="imageDirectionCenter"
        [rightImage]="imageDirectionRight"
        [backImage]="imageDirectionBack"
        [specialType]="imageSpecialType"
        (travelDirection)="doTravel($event)"
        ></app-path-image>

    <div *ngIf="currentGame">
        <p>{{locationDescription}}</p>
    </div>
</div>
