<div class="container-fluid my-2">
    <div class="row">
        <div class="col">
            <app-taskbar-icon *ngIf="state"
                [imgDisabled]="taskbarImage.MapDisabled"
                [imgOff]="taskbarImage.MapOff"
                [imgOn]="taskbarImage.MapOn"
                [isEnabled]="state.mapEnabled"
                [isOn]="state.mapDisplayed"
                [eventText]="'map'"
                (iconClicked)="doIconClick($event)">
            </app-taskbar-icon>
        </div>
        <div class="col">
            <app-taskbar-icon *ngIf="state"
                [imgDisabled]="taskbarImage.InventoryOff"
                [imgOff]="taskbarImage.InventoryOff"
                [imgOn]="taskbarImage.InventoryOn"
                [isEnabled]="true"
                [isOn]="state.inventoryDisplayed"
                [eventText]="'inventory'"
                (iconClicked)="doIconClick($event)"
            ></app-taskbar-icon>
        </div>
    </div>
</div>