<div class="container map-display">
    <div class="row" *ngIf="currentGame && currentGame.playerLocation">
        <div class="col m-0 p-0" *ngFor="let mapCol of currentGame.map.maze; let x = index">
            <app-map-block class="m-0 p-0" 
                *ngFor="let mapBlock of mapCol; let y = index"
                [block]="mapBlock"
                [blockX]="x"
                [blockY]="y"
                [playerX]="currentGame.playerLocation.x"
                [playerY]="currentGame.playerLocation.y"
                [playerDir]="currentGame.playerDirection">
            </app-map-block>
        </div>
    </div>
</div>